<div class="hrm-budget-staffmember-container">

    <div>
        <!--<div class="icon-container" ng-click="onClickButton('newPost')"><i class="fa fa-plus" aria-hidden="true"></i></div>
        <div class="btn btn-sm buhrma-btn" ng-click="onClickButton('newPost')">Add New Post</div>-->
        <div class="icon-container" ng-click="onClickButton('newStaff')"><i class="fa fa-plus" aria-hidden="true"></i></div>
        <div class="btn btn-sm buhrma-btn" ng-click="onClickButton('newStaff')">Add New Staff</div>

        <div class="icon-container" ng-click="onClickButton('newStaff')"><i class="fa fa-check-square-o" aria-hidden="true"></i></div>
        <div class="btn btn-sm buhrma-btn" ng-click="onCustomiseTableClick()">Customise table</div>
    </div>
    <hr/>
    <br/>
    <div>
        <div class="buhrma-table-container">
            <table class="table buhrma-table">
                <thead>
                    <tr>
                        <th ng-if="customTableElements.name">Name</th>
                        <th ng-if="customTableElements.surname">Surname</th>
                        <th ng-if="customTableElements.staffNumber">Staff Number</th>
                        <th ng-if="customTableElements.gender">Gender</th>
                        <th ng-if="customTableElements.nationality">Nationality</th>
                        <th ng-if="customTableElements.birthDate">Birth date</th>
                        <th ng-if="customTableElements.contractCategory">Category</th>
                        <th ng-if="customTableElements.grade">Grade</th>
                        <th ng-if="customTableElements.step">Step</th>
                        <th ng-if="customTableElements.startDate">Start date</th>
                        <th ng-if="customTableElements.endDate">End date</th>
                        <th ng-if="customTableElements.placeOfEmployment">Place of Employment</th>
                        <th ng-if="customTableElements.headOfUnit">Head of Unit</th>
                        <th ng-if="customTableElements.TBAincrease">TBA increase</th>
                        <th ng-if="customTableElements.householdAllowance">Household Allowance</th>
                        <th ng-if="customTableElements.expatriationAllowance">Expatriation allowance</th>
                        <th ng-if="customTableElements.flatRateOvertime">Flat rate overtime</th>
                        <th ng-if="customTableElements.nonFlatrateSchoolAllowance">Non flat rate school allowance</th>
                        <th ng-if="customTableElements.placeOfOriginDistance">Distance from Place of Origin</th>
                        <th ng-if="customTableElements.placeOfOriginTravellers">Number of Travellers</th>
                        <th ng-if="customTableElements.deductions">Deductions</th>
                        <th ng-if="customTableElements.nrOfChildren">Nr of children</th>
                        <th ng-if="customTableElements.childrenUnderSix">Children under 6</th>
                        <th ng-if="customTableElements.childrenInUni">Children in Uni</th>
                        <th ng-if="customTableElements.childrenInUniExpatAndFar">Children studying away</th>
                        <th ng-if="customTableElements.fullTimePercentage">Fulltime %</th>
                        <th ng-if="customTableElements.parttimePensionContr">Pension contribution</th>
                        <th ng-if="customTableElements.parentalLeave">Parental leave</th>
                        <th ng-if="customTableElements.parentalLeaveExtension">Parental leave extension</th>
                        <th ng-if="customTableElements.parentalLeaveIncrease">Parental leave increase</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="staffMember in staffMembers">
                        <td ng-if="customTableElements.name">{{staffMember.name}}</td>
                        <td ng-if="customTableElements.surname">{{staffMember.surname}}</td>
                        <td ng-if="customTableElements.staffNumber">{{staffMember.staffNumber}}</td>
                        <td ng-if="customTableElements.gender">{{staffMember.personalData.gender}}</td>
                        <td ng-if="customTableElements.nationality">{{staffMember.personalData.nationality}}</td>
                        <td ng-if="customTableElements.birthDate">{{staffMember.personalData.birthDate | date:'dd/MM/yyyy'}}</td>

                        <!--todo fix the display of right element based on selected date-->

                        <td ng-if="customTableElements.contractCategory">{{staffMember.stepByStep.positionsFilled[0].category}}</td>
                        <td ng-if="customTableElements.grade">{{staffMember.stepByStep.positionsFilled[0].grade}}</td>
                        <td ng-if="customTableElements.step">{{staffMember.stepByStep.positionsFilled[0].step}}</td>
                        <td ng-if="customTableElements.startDate">{{staffMember.stepByStep.positionsFilled[0].startDate | date:'dd/MM/yyyy'}}</td>
                        <td ng-if="customTableElements.endDate">{{staffMember.stepByStep.positionsFilled[0].endDate | date:'dd/MM/yyyy'}}</td>
                        <td ng-if="customTableElements.placeOfEmployment">{{staffMember.stepByStep.positionsFilled[0].placeOfEmployment}}</td>
                        <td ng-if="customTableElements.headOfUnit"><span ng-if="staffMember.stepByStep.positionsFilled[0].headOfUnit"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                        <td ng-if="customTableElements.TBAincrease"><span ng-if="staffMember.stepByStep.positionsFilled[0].TBAIncrease"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                        <td ng-if="customTableElements.householdAllowance"><span ng-if="staffMember.entitlements.entitlements[0].householdAllowance"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                        <td ng-if="customTableElements.expatriationAllowance">{{staffMember.entitlements.entitlements[0].expatriationAllowance}}</td>
                        <td ng-if="customTableElements.flatRateOvertime"><span ng-if="staffMember.entitlements.entitlements[0].flatRateOvertime"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                        <td ng-if="customTableElements.nonFlatrateSchoolAllowance"><span ng-if="staffMember.entitlements.entitlements[0].nonFlatrateSchoolAllowance"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                        <td ng-if="customTableElements.placeOfOriginDistance">{{staffMember.entitlements.entitlements[0].placeOfOriginDistance}}</td>
                        <td ng-if="customTableElements.placeOfOriginTravellers">{{staffMember.entitlements.entitlements[0].placeOfOriginTravellers}}</td>
                        <td ng-if="customTableElements.deductions">{{staffMember.entitlements.entitlements[0].deductions}}</td>
                        <td ng-if="customTableElements.nrOfChildren">{{staffMember.socioStatus.numChildren[0].status}}</td>
                        <td ng-if="customTableElements.childrenUnderSix">{{staffMember.socioStatus.childrenUnderSix[0].status}}</td>
                        <td ng-if="customTableElements.childrenInUni">{{staffMember.socioStatus.childrenInUni[0].status}}</td>
                        <td ng-if="customTableElements.childrenInUniExpatAndFar">{{staffMember.socioStatus.childrenInUniExpatAndFar[0].status}}</td>
                        <td ng-if="customTableElements.fullTimePercentage">{{staffMember.socioStatus.fullTimePercentage[0].status}}</td>
                        <td ng-if="customTableElements.parttimePensionContr"><span ng-if="staffMember.socioStatus.parttimePensionContr[0].status"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                        <td ng-if="customTableElements.parentalLeave"><span ng-if="staffMember.socioStatus.parentalLeave[0].status"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                        <td ng-if="customTableElements.parentalLeaveExtension"><span ng-if="staffMember.socioStatus.parentalLeaveExtension[0].status"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                        <td ng-if="customTableElements.parentalLeaveIncrease"><span ng-if="staffMember.socioStatus.parentalLeaveIncrease[0].status"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                        <td><div class="btn btn-xs btn-default" ng-click="onClickButton('staffMember', staffMember._id)"><i class="fa fa-pencil" aria-hidden="true"></i></div></td>
                        <td><div class="btn btn-xs btn-danger" ng-click="onClickDelete('staffMember', staffMember._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></div></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--<div>
            <table class="table table-striped">
                <tr>
                    <th>Post Title</th>
                    <th>Contract Type</th>
                    <th>Grade</th>
                    <th>Occupied</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Staff on post</th>
                    <th>Contract Type</th>
                    <th>Grade</th>
                    <th>Step</th>
                    <th>Basic Salary</th>
                </tr>
                <tr ng-repeat="post in posts">
                    <td>{{post.postTitle}}</td>
                    <td>{{post.contractType}}</td>
                    <td>{{post.postGrade}}</td>
                    <td ng-if="post.occupied">Occupied</td>
                    <td ng-if="!post.occupied">Vacant</td>
                    <td><div class="btn btn-xs btn-primary" ng-click="onClickButton('post', post._id)">Edit Post</div></td>
                    <td><div class="btn btn-xs btn-danger" ng-click="onClickDelete('post', post._id)">Delete Post</div></td>
                    <td ng-if="!post.occupied"><div class="btn btn-xs btn-success" ng-click="onClickButton('fillPost', post._id)">Manage Staff Member</div></td>
                    <td>
                        <div ng-repeat="staffOnPost in post.staffOnPost">
                            <span ng-if="staffOnPost.startDate <= timeNow && staffOnPost.endDate != null && staffOnPost.endDate >= timeNow">{{staffOnPost.staff.name}} <b>{{staffOnPost.staff.surname}}</b> ({{staffOnPost.staff.staffNumber}})</span>
                            <span ng-if="staffOnPost.startDate <= timeNow && staffOnPost.endDate == null">{{staffOnPost.staff.name}} <b>{{staffOnPost.staff.surname}}</b> ({{staffOnPost.staff.staffNumber}})</span>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>-->
    </div>




</div>
