<div class="col-md-12 hrm-budget-staffmember-container">

    <div class="header-container">
        <h2>Staff</h2>
        <div class="btn btn-sm btn-success" ng-click="onClickButton()">Add New</div>
    </div>

    <div class="content-container">
        <hr/>

        <div class="col-lg-12">
            <table class="table table-striped">
                <tr>
                    <th>Post Title</th>
                    <th>Contract Type</th>
                    <th>Category</th>
                    <th>Grade</th>
                    <th>Occupied</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="post in posts">
                    <td>{{post.postTitle}}</td>
                    <td>{{post.contractType}}</td>
                    <td>{{post.postCategory}}</td>
                    <td>{{post.postGrade}}</td>
                    <td ng-if="post.occupied">Occupied</td>
                    <td ng-if="!post.occupied">Vacant</td>
                    <td><div class="btn btn-xs btn-primary" ng-click="onClickButton('post', post._id)">Edit Post</div></td>
                    <td><div class="btn btn-xs btn-danger" ng-click="onClickDelete('post', post._id)">Delete Post</div></td>
                    <td ng-if="post.occupied"><div class="btn btn-xs btn-success" ng-click="onClickButton('post', post._id)">Empty Post</div></td>
                    <td ng-if="!post.occupied"><div class="btn btn-xs btn-success" ng-click="onClickButton('post', post._id)">Fill Post</div></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-12">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Staff Number</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="staffMember in staffMembers">
                    <td>{{staffMember.name}}</td>
                    <td>{{staffMember.surname}}</td>
                    <td>{{staffMember.staffNumber}}</td>
                    <td><div class="btn btn-sm btn-default" ng-click="onClickButton('staffMember', staffMember._id)">Edit</div></td>
                    <td><div class="btn btn-sm btn-danger" ng-click="onClickDelete('staffMember', staffMember._id)">Delete</div></td>
                </tr>
            </table>
        </div>

    </div>


</div>
