<div class="hrm-budget-staffmember-container">

    <div class="row top-bar-buttons">

        <div class="col-xl-3">
            <div class="icon-container" ng-click="onClickButton('newStaff')" angular-ripple><i class="fa fa-plus" aria-hidden="true"></i></div>
            <div class="btn btn-sm buhrma-btn" ng-click="onClickButton('newStaff')" angular-ripple>Add New Staff</div>
        </div>
        <div class="col-xl-3">
            <div class="icon-container" ng-click="onClickFilterDate()" angular-ripple><i class="fa fa-filter" aria-hidden="true"></i></i></div>
            <div class="btn btn-sm buhrma-btn" ng-click="onClickFilterDate()" angular-ripple>State: <em>{{filterTableDate | date:'dd.MM.yyyy'}}</em></div>
        </div>
        <div class="col-xl-3">
            <div class="icon-container" ng-click="onCustomiseTableClick()" angular-ripple><i class="fa fa-check-square-o" aria-hidden="true"></i></div>
            <div class="btn btn-sm buhrma-btn" ng-click="onCustomiseTableClick()" angular-ripple>Customise table</div>
        </div>
        <div class="col-xl-3">
            <div class="icon-container" ng-click="exportToExcel('#table-to-export')" angular-ripple><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
            <div class="btn btn-sm buhrma-btn" ng-click="exportToExcel('#table-to-export')" angular-ripple>Export to excel</div>
        </div>
    </div>
    <hr/>
    <div>
        <div class="buhrma-table-container">
            <table class="table buhrma-table" id="table-to-export">
                <thead>
                    <tr>
                        <th></th>
                        <!--<th></th>-->
                        <th></th>
                        <th ng-if="customTableElements.name" ng-click="onClickTableHead('name')">Name <span ng-if="clickedTableHead == 'name'"><i class="fa fa-sort-desc" aria-hidden="true"></i></span></th>
                        <th ng-if="customTableElements.surname" ng-click="onClickTableHead('surname')">Surname <span ng-if="clickedTableHead == 'surname'"><i class="fa fa-sort-desc" aria-hidden="true"></i></span></th>
                        <th ng-if="customTableElements.staffNumber" ng-click="onClickTableHead('staffNumber')">Staff Number <span ng-if="clickedTableHead == 'staffNumber'"><i class="fa fa-sort-desc" aria-hidden="true"></i></span></th>
                        <th ng-if="customTableElements.gender" ng-click="onClickTableHead('personalData.gender')">Gender <span ng-if="clickedTableHead == 'personalData.gender'"><i class="fa fa-sort-desc" aria-hidden="true"></i></span></th>
                        <th ng-if="customTableElements.nationality" ng-click="onClickTableHead('personalData.nationality')">Nationality <span ng-if="clickedTableHead == 'personalData.nationality'"><i class="fa fa-sort-desc" aria-hidden="true"></i></span></th>
                        <th ng-if="customTableElements.birthDate" ng-click="onClickTableHead('personalData.birthDate')">Birth date <span ng-if="clickedTableHead == 'personalData.birthDate'"><i class="fa fa-sort-desc" aria-hidden="true"></i></span></th>
                        <th ng-if="customTableElements.contractCategory">Category</th>
                        <th ng-if="customTableElements.grade">Grade</th>
                        <th ng-if="customTableElements.step">Step</th>
                        <th ng-if="customTableElements.startDate">Start date</th>
                        <th ng-if="customTableElements.endDate">End date</th>
                        <th ng-if="customTableElements.placeOfEmployment">Place of Employment</th>
                        <th ng-if="customTableElements.headOfUnit">Head of Unit</th>
                        <th ng-if="customTableElements.TBAincrease">TBA increase</th>
                        <th ng-if="customTableElements.householdAllowance">Household Allowance</th>
                        <th ng-if="customTableElements.expatriationAllowance">Expatriation allowance</th>
                        <th ng-if="customTableElements.flatRateOvertime">Flat rate overtime</th>
                        <th ng-if="customTableElements.nonFlatrateSchoolAllowance">Non flat rate school allowance</th>
                        <th ng-if="customTableElements.placeOfOriginDistance">Distance from Place of Origin</th>
                        <th ng-if="customTableElements.placeOfOriginTravellers">Number of Travellers</th>
                        <th ng-if="customTableElements.deductions">Deductions</th>
                        <th ng-if="customTableElements.nrOfChildren">Nr of children</th>
                        <th ng-if="customTableElements.childrenUnderSix">Children under 6</th>
                        <th ng-if="customTableElements.childrenInUni">Children in Uni</th>
                        <th ng-if="customTableElements.childrenInUniExpatAndFar">Children studying away</th>
                        <th ng-if="customTableElements.fullTimePercentage">Fulltime %</th>
                        <th ng-if="customTableElements.parttimePensionContr">Pension contribution</th>
                        <th ng-if="customTableElements.parentalLeave">Parental leave</th>
                        <th ng-if="customTableElements.parentalLeaveExtension">Parental leave extension</th>
                        <th ng-if="customTableElements.parentalLeaveIncrease">Parental leave increase</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="staffMember in staffMembers | orderBy:clickedTableHead" ng-if="staffMember.startDate <= filterTableDate && filterTableDate <= staffMember.endDate">
                        <td>
                            <div class="btn btn-xs btn-default" ng-click="onClickButton('EditState', staffMember._id)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </div>
                        </td>
                        <!--<td>
                            <div class="btn btn-xs btn-default" ng-click="onClickButton('AddNewState', staffMember._id)">
                                <i class="fa fa-file-o" aria-hidden="true"></i>
                            </div>
                        </td>-->
                        <td>
                            <div class="btn btn-xs btn-danger" ng-click="onClickDelete('staffMember', staffMember._id)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </div>
                        </td>

                        <td ng-if="customTableElements.name">{{staffMember.name}}</td>
                        <td ng-if="customTableElements.surname">{{staffMember.surname}}</td>
                        <td ng-if="customTableElements.staffNumber">{{staffMember.staffNumber}}</td>
                        <td ng-if="customTableElements.gender">{{staffMember.personalData.gender}}</td>
                        <td ng-if="customTableElements.nationality">{{staffMember.personalData.nationality}}</td>
                        <td ng-if="customTableElements.birthDate">{{staffMember.personalData.birthDate | date:'dd/MM/yyyy'}}</td>

                        <!--todo fix the display of right element based on selected date-->

                        <td ng-if="customTableElements.contractCategory">
                            <span ng-repeat="positionFilled in staffMember.stepByStep.positionsFilled">
                                <span ng-if="positionFilled.startDate <= filterTableDate && filterTableDate <= positionFilled.endDate">
                                    {{positionFilled.category}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.grade">
                            <span ng-repeat="positionFilled in staffMember.stepByStep.positionsFilled">
                                <span ng-if="positionFilled.startDate <= filterTableDate && filterTableDate <= positionFilled.endDate">
                                    {{positionFilled.grade}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.step">
                            <span ng-repeat="positionFilled in staffMember.stepByStep.positionsFilled">
                                <span ng-if="positionFilled.startDate <= filterTableDate && filterTableDate <= positionFilled.endDate">
                                    {{positionFilled.step}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.startDate">
                            <span ng-repeat="positionFilled in staffMember.stepByStep.positionsFilled">
                                <span ng-if="positionFilled.startDate <= filterTableDate && filterTableDate <= positionFilled.endDate">
                                    {{positionFilled.startDate | date:'dd/MM/yyyy'}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.endDate">
                            <span ng-repeat="positionFilled in staffMember.stepByStep.positionsFilled">
                                <span ng-if="positionFilled.startDate <= filterTableDate && filterTableDate <= positionFilled.endDate">
                                    {{positionFilled.endDate | date:'dd/MM/yyyy'}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.placeOfEmployment">
                            <span ng-repeat="positionFilled in staffMember.stepByStep.positionsFilled">
                                <span ng-if="positionFilled.startDate <= filterTableDate && filterTableDate <= positionFilled.endDate">
                                    {{positionFilled.placeOfEmployment}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.headOfUnit">
                            <span ng-repeat="positionFilled in staffMember.stepByStep.positionsFilled">
                                <span ng-if="positionFilled.startDate <= filterTableDate && filterTableDate <= positionFilled.endDate">
                                    <span ng-if="positionFilled.headOfUnit">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                                    <span style="display:none">{{positionFilled.headOfUnit}}</span>
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.TBAincrease">
                            <span ng-repeat="positionFilled in staffMember.stepByStep.positionsFilled">
                                <span ng-if="positionFilled.startDate <= filterTableDate && filterTableDate <= positionFilled.endDate">
                                    <span ng-if="positionFilled.TBAIncrease">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                                    <span style="display:none">{{positionFilled.TBAIncrease}}</span>
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.householdAllowance">
                            <span ng-repeat="entitlements in staffMember.entitlements.entitlements">
                                <span ng-if="entitlements.startDate <= filterTableDate && filterTableDate <= entitlements.endDate">
                                    <span ng-if="entitlements.householdAllowance">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                                    <span style="display:none">{{entitlements.householdAllowance}}</span>
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.expatriationAllowance">
                            <span ng-repeat="entitlements in staffMember.entitlements.entitlements">
                                <span ng-if="entitlements.startDate <= filterTableDate && filterTableDate <= entitlements.endDate">
                                    {{entitlements.expatriationAllowance}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.flatRateOvertime">
                            <span ng-repeat="entitlements in staffMember.entitlements.entitlements">
                                <span ng-if="entitlements.startDate <= filterTableDate && filterTableDate <= entitlements.endDate">
                                    <span ng-if="entitlements.flatRateOvertime">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                                    <span style="display:none">{{entitlements.flatRateOvertime}}</span>
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.nonFlatrateSchoolAllowance">
                            <span ng-repeat="entitlements in staffMember.entitlements.entitlements">
                                <span ng-if="entitlements.startDate <= filterTableDate && filterTableDate <= entitlements.endDate">
                                    <span ng-if="entitlements.nonFlatrateSchoolAllowance">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                                    <span style="display:none">{{entitlements.nonFlatrateSchoolAllowance}}</span>
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.placeOfOriginDistance">
                            <span ng-repeat="entitlements in staffMember.entitlements.entitlements">
                                <span ng-if="entitlements.startDate <= filterTableDate && filterTableDate <= entitlements.endDate">
                                    {{entitlements.placeOfOriginDistance}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.placeOfOriginTravellers">
                            <span ng-repeat="entitlements in staffMember.entitlements.entitlements">
                                <span ng-if="entitlements.startDate <= filterTableDate && filterTableDate <= entitlements.endDate">
                                    {{entitlements.placeOfOriginNumOfTravellers}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.deductions">
                            <span ng-repeat="entitlements in staffMember.entitlements.entitlements">
                                <span ng-if="entitlements.startDate <= filterTableDate && filterTableDate <= entitlements.endDate">
                                    {{entitlements.deductions}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.nrOfChildren">
                            <span ng-repeat="statuses in staffMember.socioStatus.statuses">
                                <span ng-if="statuses.startDate <= filterTableDate && filterTableDate <= statuses.endDate">
                                    {{statuses.numChildren}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.childrenUnderSix">
                            <span ng-repeat="statuses in staffMember.socioStatus.statuses">
                                <span ng-if="statuses.startDate <= filterTableDate && filterTableDate <= statuses.endDate">
                                    {{statuses.childrenUnderSix}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.childrenInUni">
                            <span ng-repeat="statuses in staffMember.socioStatus.statuses">
                                <span ng-if="statuses.startDate <= filterTableDate && filterTableDate <= statuses.endDate">
                                    {{statuses.childrenInUni}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.childrenInUniExpatAndFar">
                            <span ng-repeat="statuses in staffMember.socioStatus.statuses">
                                <span ng-if="statuses.startDate <= filterTableDate && filterTableDate <= statuses.endDate">
                                    {{statuses.childrenInUniExpatAndFar}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.fullTimePercentage">
                            <span ng-repeat="statuses in staffMember.socioStatus.statuses">
                                <span ng-if="statuses.startDate <= filterTableDate && filterTableDate <= statuses.endDate">
                                    {{statuses.fullTimePercentage}}
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.parttimePensionContr">
                            <span ng-repeat="statuses in staffMember.socioStatus.statuses">
                                <span ng-if="statuses.startDate <= filterTableDate && filterTableDate <= statuses.endDate">
                                    <span ng-if="statuses.parttimePensionContr">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                                    <span style="display:none">{{statuses.parttimePensionContr}}</span>
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.parentalLeave">
                            <span ng-repeat="statuses in staffMember.socioStatus.statuses">
                                <span ng-if="statuses.startDate <= filterTableDate && filterTableDate <= statuses.endDate">
                                    <span ng-if="statuses.parentalLeave">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                                    <span style="display:none">{{statuses.parentalLeave}}</span>
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.parentalLeaveExtension">
                            <span ng-repeat="statuses in staffMember.socioStatus.statuses">
                                <span ng-if="statuses.startDate <= filterTableDate && filterTableDate <= statuses.endDate">
                                    <span ng-if="statuses.parentalLeaveExtension">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                                    <span style="display:none">{{statuses.parentalLeaveExtension}}</span>
                                </span>
                            </span>
                        </td>
                        <td ng-if="customTableElements.parentalLeaveIncrease">
                            <span ng-repeat="statuses in staffMember.socioStatus.statuses">
                                <span ng-if="statuses.startDate <= filterTableDate && filterTableDate <= statuses.endDate">
                                    <span ng-if="statuses.parentalLeaveIncrease">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                                    <span style="display:none">{{statuses.parentalLeaveIncrease}}</span>
                                </span>
                            </span>
                        </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
