<div class="hrm-budget-staffmember-container budget-view">

    <div class="row top-bar-buttons">

        <div class="col-xl-3">
            <div class="icon-container" ng-click="exportToExcel('#table-to-export')" angular-ripple><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
            <div class="btn btn-sm buhrma-btn" ng-click="exportToExcel('#table-to-export')" angular-ripple>Export to excel</div>
        </div>
    </div>
    <hr/>
    <div>
        <div class="buhrma-table-container">
            <table class="table buhrma-table" id="table-to-export">
                <thead>
                    <tr>
                        <th class="title">{{currentBudget.year}}</th>
                        <th>Jan</th>
                        <th>Feb</th>
                        <th>Mar</th>
                        <th>Apr</th>
                        <th>May</th>
                        <th>Jun</th>
                        <th>Jul</th>
                        <th>Aug</th>
                        <th>Sep</th>
                        <th>Oct</th>
                        <th>Nov</th>
                        <th>Dec</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="title">Basic Salary Scale</td>
                        <td ng-repeat="salary in salaryScale track by $index">{{salary | currency : '€ ' : 2}}</td>

                    </tr>
                    <tr>
                        <td class="title">Adjusted Salary Sum</td>
                        <td>{{budget.adjustedSalarySum}}</td>
                        <td>{{budget.adjustedSalarySum}}</td>
                        <td>{{budget.adjustedSalarySum}}</td>
                        <td>{{budget.adjustedSalarySum}}</td>
                        <td>{{budget.adjustedSalarySum}}</td>
                        <td>{{budget.adjustedSalarySum}}</td>
                        <td>{{budget.adjustedSalarySum}}</td>
                        <td>{{budget.adjustedSalarySum}}</td>
                        <td>{{budget.adjustedSalarySum}}</td>
                        <td>{{budget.adjustedSalarySum}}</td>
                        <td>{{budget.adjustedSalarySum}}</td>
                        <td>{{budget.adjustedSalarySum}}</td>

                    </tr>
                    <tr>
                        <td class="title">Head of Unit Sum</td>
                        <td>{{budget.headOfUnitSum}}</td>
                        <td>{{budget.headOfUnitSum}}</td>
                        <td>{{budget.headOfUnitSum}}</td>
                        <td>{{budget.headOfUnitSum}}</td>
                        <td>{{budget.headOfUnitSum}}</td>
                        <td>{{budget.headOfUnitSum}}</td>
                        <td>{{budget.headOfUnitSum}}</td>
                        <td>{{budget.headOfUnitSum}}</td>
                        <td>{{budget.headOfUnitSum}}</td>
                        <td>{{budget.headOfUnitSum}}</td>
                        <td>{{budget.headOfUnitSum}}</td>
                        <td>{{budget.headOfUnitSum}}</td>
                    </tr>
                    <tr>
                        <td class="title">Household Allowance Sum</td>
                        <td>{{budget.householdAllowanceSum}}</td>
                        <td>{{budget.householdAllowanceSum}}</td>
                        <td>{{budget.householdAllowanceSum}}</td>
                        <td>{{budget.householdAllowanceSum}}</td>
                        <td>{{budget.householdAllowanceSum}}</td>
                        <td>{{budget.householdAllowanceSum}}</td>
                        <td>{{budget.householdAllowanceSum}}</td>
                        <td>{{budget.householdAllowanceSum}}</td>
                        <td>{{budget.householdAllowanceSum}}</td>
                        <td>{{budget.householdAllowanceSum}}</td>
                        <td>{{budget.householdAllowanceSum}}</td>
                        <td>{{budget.householdAllowanceSum}}</td>
                    </tr>
                    <tr>
                        <td class="title">Expatriation Allowance Sum</td>
                        <td>{{budget.expatriationAllowanceSum}}</td>
                        <td>{{budget.expatriationAllowanceSum}}</td>
                        <td>{{budget.expatriationAllowanceSum}}</td>
                        <td>{{budget.expatriationAllowanceSum}}</td>
                        <td>{{budget.expatriationAllowanceSum}}</td>
                        <td>{{budget.expatriationAllowanceSum}}</td>
                        <td>{{budget.expatriationAllowanceSum}}</td>
                        <td>{{budget.expatriationAllowanceSum}}</td>
                        <td>{{budget.expatriationAllowanceSum}}</td>
                        <td>{{budget.expatriationAllowanceSum}}</td>
                        <td>{{budget.expatriationAllowanceSum}}</td>
                        <td>{{budget.expatriationAllowanceSum}}</td>
                    </tr>
                    <tr>
                        <td class="title">Children Allowance Sum</td>
                        <td>{{budget.childrenAllowanceSum}}</td>
                        <td>{{budget.childrenAllowanceSum}}</td>
                        <td>{{budget.childrenAllowanceSum}}</td>
                        <td>{{budget.childrenAllowanceSum}}</td>
                        <td>{{budget.childrenAllowanceSum}}</td>
                        <td>{{budget.childrenAllowanceSum}}</td>
                        <td>{{budget.childrenAllowanceSum}}</td>
                        <td>{{budget.childrenAllowanceSum}}</td>
                        <td>{{budget.childrenAllowanceSum}}</td>
                        <td>{{budget.childrenAllowanceSum}}</td>
                        <td>{{budget.childrenAllowanceSum}}</td>
                        <td>{{budget.childrenAllowanceSum}}</td>
                    </tr>
                    <tr class="sum-line">
                        <td class="title">Sum per Month</td>
                        <td>{{budget.sumPerMonth}}</td>
                        <td>{{budget.sumPerMonth}}</td>
                        <td>{{budget.sumPerMonth}}</td>
                        <td>{{budget.sumPerMonth}}</td>
                        <td>{{budget.sumPerMonth}}</td>
                        <td>{{budget.sumPerMonth}}</td>
                        <td>{{budget.sumPerMonth}}</td>
                        <td>{{budget.sumPerMonth}}</td>
                        <td>{{budget.sumPerMonth}}</td>
                        <td>{{budget.sumPerMonth}}</td>
                        <td>{{budget.sumPerMonth}}</td>
                        <td>{{budget.sumPerMonth}}</td>
                    </tr>
                    <tr class="sum-line">
                        <td class="title">Total Sum</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{budget.totalSum}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
