.buhrma-header-container{
    width:100%;
    height: 90px;
    background-color: #fff;
    box-shadow: 0 0 7px #cccccc;

    .page-title{
        float: left;
        margin-left: 30px;
        font-size: 20px;
        color: @buhrma-grey;
    }

    .buhrma-title{
        color: @buhrma-blue;
        font-size: 33px;
        font-weight: 100;
        padding-left: 30px;

        #hr{
            font-weight: 400;
        }
    }

    .navigation{
        color: @buhrma-blue;
        float: right;
        margin-right: 10px;
        text-transform: uppercase;

        p{
            width: 120px;
            border-bottom: solid 1px @buhrma-blue;
            margin-right: 20px;
            float: right;
            cursor: pointer;
        }

        i{
            display: none;
            margin-right: 20px;
            cursor: pointer;
        }
    }

    .nav-icon-box{
        width: 120px;
        background-color: #fff;
        box-shadow: 0 0 5px @buhrma-grey;
        overflow: hidden;
        margin-right: 30px;
        text-transform: uppercase;
        color: @buhrma-blue;
        position: absolute;
        right: 0;
        top: 65px;
        display: none;

        div{
            padding: 10px;
            border-bottom: solid 1px #f5f5ff;
            cursor: pointer;
        }
    }

    .nav-icon-box-open{
        display: block;
    }

    @media only screen and (max-width: 700px) {
        .navigation{

            p{
                display: none;
            }

            i{
                display: inline-block;
            }
        }
    }
}
