<div class="buhrma-header-container">
    <div class="buhrma-title">BU<span id="hr">HR</span>MA</div>

    <div class="page-title">Staff</div>

    <div class="navigation">
        <p>ADMIN login</p>
        <p>Budget</p>
        <p>Posts</p>
        <p ui-sref="app.staff">Staff</p>
        <i class="fa fa-bars" aria-hidden="true" ng-click="onClickNavIcon()"></i>
    </div>
    <div class="nav-icon-box" ng-class="{'nav-icon-box-open':navBoxOpen}">
        <div ui-sref="app.staff">Staff</div>
        <div>Posts</div>
        <div>Budget</div>
        <div>ADMIN login</div>
    </div>
</div>
