.buhrma-modal{
    .modal-header{
        background-color: @buhrma-blue;
        color: #fff;

        .modal-title{
            font-weight: 200;
        }
        p{
            font-weight: 100;
            b{
                font-weight: 200;
            }
        }
    }

    .bottom-page-navigator-container {
        display: block;
        padding-top: 30px;
        text-align: center;

        .page-indicator-arrows{
            color: @buhrma-blue;
            line-height: 20px;
            position: relative;
            top: -10px;
            margin-right: 10px;
            cursor: pointer;
            display: inline-block;


            .arrow-box{
                width:10px;
                height:20px;
                display: inline-block;

            }

            i{
                font-size: 15px;
            }
        }

        .page-indicator-circles-container {
            width: 20px;
            height: 20px;
            display: inline-block;

            .page-indicator-circles {
                width: 10px;
                height: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                background-color: #ffffff;
                border: solid 1px #008eb4;
            }

            .page-indicator-circle-active {
                background-color: #008eb4;
            }

            .page-indicator-circles:hover {
                background-color: #008eb4;
            }
        }
    }

    .inner-page-title{
        color: @buhrma-blue;
        font-weight: 200;
    }
}

.buhrma-btn-save{
    color: @buhrma-blue;
    border: solid 1px @buhrma-blue;
    float:right;
    padding: 15px;
    text-align: center;
    margin: 0;
}

.buhrma-btn-cancel{
    color: @buhrma-grey;
    border: solid 1px @buhrma-grey;
    float: right;
    padding: 15px;
    text-align: center;
    margin-right: 20px;
}

.buhrma-btn-cancel:hover{
    color: @buhrma-grey;
}
