
#buhrma-label-select{
    color: @buhrma-grey;
    flex-grow: 1;
    margin: 0;
    border-radius: 0;
    border: 0 none;
    background-color: transparent;
    box-shadow: none;
    font-weight: normal;
    position:relative;
    top: 25px !important;
    font-size: 14px !important;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    pointer-events: none;
}

.buhrma-label-select-focus{
    color: @buhrma-blue !important;
    transform: translateY(-20px) scale(0.9,0.9);
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.buhrma-select-box {
    width: 95%;
    max-height: 200px;
    background-color: #ffffff;
    overflow: scroll;
    position: absolute;
    box-shadow: 0 0 5px @buhrma-grey;
    z-index: 10;
    display: none;
}

.buhrma-select-box-visible {
    display: inline-block !important;
}

.buhrma-select-box-input {
    color: @buhrma-blue;
    padding: 10px;
    border-bottom: 1px solid #f5f5ff;
    background-color: transparent;
}

.buhrma-select-box-input-selected {
    background-color: #c7d5d9;
}

.buhrma-select-box-input-hover {
    background-color: #e4e9eb;
}

